<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/auth/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/auth/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    
<%- include('partials/footer') -%>